$min-contrast-ratio: 3;

$white: white;
$primary: rgb(238, 56, 0);


$navbar-dark-color: rgba($white, .75);


@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';